* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.load {
    animation: slide 2s;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;
}

.content {
    color: #fff;
    width: 100%;
    height: 100%;
}

.principal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}

.principal h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.principal btn {
    font-size: 20px;
}

@keyframes slide {
    0% {
        background-image: url('image1.jpg');
    }
    20% {
        background-image: url('image1.jpg');
    }
    20.01% {
        background-image: url('image2.jpg');
    }
    40% {
        background-image: url('image2.jpg');
    }
    40.01% {
        background-image: url('image3.jpg');
    }
    60% {
        background-image: url('image3.jpg');
    }
    60.01% {
        background-image: url('image4.jpg');
    }
    80% {
        background-image: url('image4.jpg');
    }
    80.01% {
        background-image: url('image5.jpg');
    }
    100% {
        background-image: url('image5.jpg');
    }
}

.hungryHubLogo {
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    float: left;
}

.navbar {
    padding-left: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ff9800;
    text-align: center;
}

.col {
    align-content: center;
}

li {
    clear: left;
}

#container0,
#container1,
#container2,
#container3,
#container4 {
    padding-top: 30px;
}

.card-title {
    text-shadow: 2px 2px 4px #000000;
}

.recipes {
    padding-left: 100px;
}

.right {
    float: inline-start;
}

#topbarsearch {
    float: right;
}

#results {
    padding-top: 30px;
}

.valign-wrapper {
    align-content: center;
}

.card-action {
    font-size: 11px;
}


/* */

nav form {
    position: relative;
    height: 100%;
    background: inherit;
}

.nav-wrapper {
    background: inherit;
}

.search-close-icon {
    display: none!important;
    position: absolute;
    top: 0;
    left: 100%!important;
    padding-left: 0px;
    color: rgba(0, 0, 0, 0.54);
    transition: color .2s;
    cursor: pointer;
}

.my-grey {
    background: #f7f7f7;
}

input.search-field {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    border: 0;
    border-radius: 5px;
    height: 36px;
    padding: 8px 8px 8px 60px;
    width: 200px;
    background: #f7f7f7;
    transition: background 0.2s, width .2s;
}

input.search-field:hover {
    background: #ebebeb;
}

.searchbox {
    position: relative;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.54);
}

input.search-field:focus {
    outline: none;
    width: 500px;
    color: #212121;
}

input.search-field:focus:hover {
    background: #f7f7f7;
}

.search-icon {
    position: absolute;
    top: 0;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.54);
}

.search-content {
    color: #303c42;
    width: 90%;
    margin: auto;
    height: auto;
    padding: 8px 10px;
}

.search-heading {
    color: #757575;
    display: block;
    font-size: 12px;
    line-height: 30px;
}

input.search-field~.search-popup {
    overflow: hidden;
    left: 0px;
    min-height: 50px;
    max-height: 700px;
    width: 200px;
    top: -450px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: width .2s, top .2s ease-in-out;
    border-radius: 2px;
    background-color: #fff;
}

input.search-field:focus~.search-popup {
    width: 500px;
    top: 50px;
}

nav ul.popup-list a:hover {
    background-color: initial;
}

nav ul.popup-list li {
    float: none;
}

nav ul.popup-list li a {
    line-height: 30px;
    padding: 0;
    font-size: 12px;
    color: #212121 !important;
}

nav ul.popup-list li a:hover {
    background-color: #f7f7f7;
}

p {
    font-size: 1.3rem;
}

.top-margin {
    margin-top: 8px;
}

@media only screen and (max-width: 600px) {
    nav form {
        left: calc(90vw - 100%);
    }
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: transparent;
    }
    input.search-field {
        width: 1px;
        margin-right: 0px;
        padding: 8px 25px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    input.search-field~.search-popup {
        width: 1px;
        margin-right: 0px;
        padding: 8px 25px;
    }
    .search-icon {
        top: 0;
        padding-left: 15px;
        color: rgba(0, 0, 0, 0.54);
    }
    input.search-field:focus {
        margin-right: 0px;
        width: 100vw;
        padding: 8px 8px 8px 50px;
    }
    input.search-field:focus~.search-popup {
        width: 100vw;
    }
    .search-content {
        width: 100%;
        padding: 8px 8px;
    }
    nav .nav-wrapper {
        margin-right: 0px;
    }
}

.card .card-content {
    padding: 17px;
    border-radius: 0 0 2px 2px;
}

p {
    font-size: 15px;
}

.right {
    padding-right: 10px;
}


/*card-title change font, add shadow